!!! 5
%html
	%head
		%meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
		%title= "Mimicra"
		%link{ :rel => "stylesheet" , :type => "text/css" , :href => "css/import.css" }
		%link{ :rel => "stylesheet" , :type => "text/css" , :href => "css/mi.css" }

	%body

		-# ==================================================

		%section.section-one
			%header
				%h3 mimicra
				%h1 УВЕЛИЧЕНИЕ КОЛИЧЕСТВА НОВЫХ КЛИЕНТОВ
				
				%p Mimicra заменяет собой все отдельные приложения кафе и ресторанов, осуществляет рекламу заведения, а также автоматически подключает пользователя к программе лояльности любого заведения, в которое он заходит.
				
				%fieldset
					%button.button-red  		Подключиться
					%button.button-white-border Как это работает

		-# ==================================================

		%section.section-two
			%header
				%h1 Как это работает
				%p 	Процесс подключения к Mimicra чрезвычайно прост и состоит из всего трех шагов
			
			%article
				%img{ :src => "images/section_2_img_1.png" }
				%img{ :src => "images/section_2_img_2.png" }
				%img{ :src => "images/section_2_img_3.png" }		
			
				%fieldset
					%button Подробнее

		-# ==================================================

		%section.about
			%article
				%aside
					%img{ :src => "images/section_about_system.jpg" }
				%aside
					%img{ :src => "images/bluetooth.png" }
					%h1 Система лояльности
					%p В каждое заведение, подключенное к сети Mimicra, устанавливается bluetooth-маячок, который передает сигнал в радиусе от 30 см до 30 метров. Уже при входе, приложение Mimicra улавливает сигнал и распознает заведение, изменяет интерфейс и позволяет пользоваться программой лояльности.

		%section.about
			%article
				%aside
					%img{ :src => "images/section_about_individual.jpg" }
				%aside
					%img{ :src => "images/food_molecul.png" }
					%h1 Индивидуальность заведений
					%p Mimicra распознает место, в котором находится пользователь и меняет свое оформление под стиль заведения. Приложение будет полность отражать уникальность вашего места.

		%section.about
			%article
				%aside
					%img{ :src => "images/section_about_new_clients.jpg" }
				%aside
					%img{ :src => "images/bell.png" }
					%h1 Привлечение новых клиентов
					%p Используя данные GPS, Mimicra рассылает электронные флаеры находящимся поблизости от заведения пользователям.

		-# ==================================================

		%section.section-three
			%header
				%h1 25 заведений уже пользуются
				%p 	25 июля нашим приложением начнут пользоваться уже 700 заведений Санкт-Петербурга
			
			%article
				%img{ :src => "images/section_3_img_1.png" }
				%img{ :src => "images/section_3_img_2.png" }
				%img{ :src => "images/section_3_img_3.png" }
				%img{ :src => "images/section_3_img_4.png" }
				%img{ :src => "images/section_3_img_5.png" }
				%img{ :src => "images/section_3_img_6.png" }
				%img{ :src => "images/section_3_img_7.png" }
				%img{ :src => "images/section_3_img_8.png" }
				%img{ :src => "images/section_3_img_9.png" }

		-# ==================================================

		%section.section-four
			%header
				%h1 И ЭТО ПОЧТИ БЕСПЛАТНО
				%p 	Mimicra не требует внедрения или изменения процесоов и программ. Подключение и первый месяц использования – бесплатны!
			
			%article
				%figure
					%figcaption
						%h2 Пробный период
						%hr.hr-green
						%span.text-green Бесплатно
						%span / месяц
					%hgroup
						%h4 Установка маячка
						%h5 Мы устанавливаем и настраиваем персональный маячок заведения
					%hgroup
						%h4 Интеграция в приложение
						%h5 Мы добавляем ваше заведение в приложение Mimicra
					%hgroup
						%h4 Месяц бесплатно
						%h5 Переход на платный тариф осуществляется только после выполнения KPI

				%figure
					%figcaption
						%h2 Стандарт
						%hr.hr-blue
						%span.text-blue 5000р
						%span / месяц
					%hgroup
						%h4 Стандартный пакет
						%h5 Включает в себя установку маячка и интеграцию в приложения Mimicra
					%hgroup
						%h4 Цифровые флаеры
						%h5 Неограниченное колиечство цифровых флаеров с рекламой ваших специальных преложений
					%hgroup
						%h4 Аналитика посещений
						%h5 Доступ к панели администратора и аналитике посещений и клиентов

				%figure.folded-corner					
					%figcaption
						%span.absolute-procent %
						%h2 Стандарт плюс
						%hr.hr-violet
						%span.text-violet 25000р
						%span / месяц
					%hgroup
						%h4 Максимальный пакет
						%h5 Вы получаете полный функционал привлечения и удержания клиентов
					%hgroup
						%h4 Круглосуточная поддержка
						%h5 Мы готовы ликвидировать любые неполадки в системе 24/7
					%hgroup
						%h4 Экономия 20$
						%h5 Приобретая пакет "Стандарт плюс" вы экономите 20% стоимости месяца

				-# %img{ :src => "images/section_4_price.png" }

		-# ==================================================

		%section.section-five
			%img{ :src => "images/section_5_stone.png" }
			
			%header
				%h1 Подключиться очень просто!
				%p 	Укажите вашу почту и наш менеджер свяжется с вами в течении дня, а на следующий день ваше заведение будет подключено!
			
			%fieldset
				%input{ :type => "text" , :placeholder => "ваша почта" }
				%button.button-red Отправить

		-# ==================================================

		%footer
			
			%article
				%a{ :href => "#" }
					%span.fa-stack.fa-lg
						%i.fa.fa-circle.fa-stack-2x.fa-inverse
						%i.fa.fa-twitter.fa-stack-1x
				
				%a{ :href => "#" }
					%span.fa-stack.fa-lg
						%i.fa.fa-circle.fa-stack-2x.fa-inverse
						%i.fa.fa-facebook.fa-stack-1x

				%a{ :href => "#" }
					%span.fa-stack.fa-lg
						%i.fa.fa-circle.fa-stack-2x.fa-inverse
						%i.fa.fa-linkedin.fa-stack-1x
			
			%article
				%p Mimicra™ 2015
				%p
					Сделано в
					%a{ :href => "#" } cpdbbk.com