!!! 5
%html
	%head
		%meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
		%title= "Mimicra"
		%link{ :rel => "stylesheet" , :type => "text/css" , :href => "css/import.css" }
		%link{ :rel => "stylesheet" , :type => "text/css" , :href => "css/mi.css" }

	%body
		%section.section-one
			%article
				%h3 mimicra
				%h1 УВЕЛИЧЕНИЕ КОЛИЧЕСТВА НОВЫХ КЛИЕНТОВ
				%p Mimicra заменяет собой все отдельные приложения кафе и ресторанов, осуществляет рекламу заведения, а также автоматически подключает пользователя к программе лояльности любого заведения, в которое он заходит.
				%fieldset
					%button.button-red Подключиться
					%button.button-white-border Как это работает

		%section.section-two
			%article
				%h1 Как это работает
				%p Процесс подключения к Mimicra чрезвычайно прост и состоит из всего трех шагов
			
			%article
				%img{ :src => "images/section_2_img_1.png" }
				%img{ :src => "images/section_2_img_2.png" }
				%img{ :src => "images/section_2_img_3.png" }		
			
			%fieldset
				%button Подробнее

		%section.section-three
			%article
				%h1 25 заведений уже пользуются
				%p 25 июля нашим приложением начнут пользоваться уже 700 заведений Санкт-Петербурга
			
			%article
				%img{ :src => "images/section_3_img_1.png" }
				%img{ :src => "images/section_3_img_2.png" }
				%img{ :src => "images/section_3_img_3.png" }
				%img{ :src => "images/section_3_img_4.png" }
				%img{ :src => "images/section_3_img_5.png" }
				%img{ :src => "images/section_3_img_6.png" }
				%img{ :src => "images/section_3_img_7.png" }
				%img{ :src => "images/section_3_img_8.png" }
				%img{ :src => "images/section_3_img_9.png" }
