!!! 5
%html
	%head
		%meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
		%title= "Mimicra"
		%link{ :rel => "stylesheet" , :type => "text/css" , :href => "css/import.css" }
		%link{ :rel => "stylesheet" , :type => "text/css" , :href => "css/mi.css" }

	%body
		%section.section-one
			%article
				%h3 mimicra
				%h1 УВЕЛИЧЕНИЕ КОЛИЧЕСТВА НОВЫХ КЛИЕНТОВ
				%p Mimicra заменяет собой все отдельные приложения кафе и ресторанов, осуществляет рекламу заведения, а также автоматически подключает пользователя к программе лояльности любого заведения, в которое он заходит.
				%filedset
					%button Test

		%section.section-two
			%p Section  2