!!! 5
%html
	%head
		%meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
		%title= "Mimicra"
		%link{ :rel => "stylesheet" , :type => "text/css" , :href => "css/import.css" }
		%link{ :rel => "stylesheet" , :type => "text/css" , :href => "css/mi.css" }

	%body

		-# ==================================================

		%section.section-one
			%article
				%h3 mimicra
				%h1 УВЕЛИЧЕНИЕ КОЛИЧЕСТВА НОВЫХ КЛИЕНТОВ
				%p Mimicra заменяет собой все отдельные приложения кафе и ресторанов, осуществляет рекламу заведения, а также автоматически подключает пользователя к программе лояльности любого заведения, в которое он заходит.
				%fieldset
					%button.button-red Подключиться
					%button.button-white-border Как это работает

		-# ==================================================

		%section.section-two
			%article
				%h1 Как это работает
				%p Процесс подключения к Mimicra чрезвычайно прост и состоит из всего трех шагов
			
			%article
				%img{ :src => "images/section_2_img_1.png" }
				%img{ :src => "images/section_2_img_2.png" }
				%img{ :src => "images/section_2_img_3.png" }		
			
			%fieldset
				%button Подробнее

		-# ==================================================

		%section.section-three
			%article
				%h1 25 заведений уже пользуются
				%p 25 июля нашим приложением начнут пользоваться уже 700 заведений Санкт-Петербурга
			
			%article
				%img{ :src => "images/section_3_img_1.png" }
				%img{ :src => "images/section_3_img_2.png" }
				%img{ :src => "images/section_3_img_3.png" }
				%img{ :src => "images/section_3_img_4.png" }
				%img{ :src => "images/section_3_img_5.png" }
				%img{ :src => "images/section_3_img_6.png" }
				%img{ :src => "images/section_3_img_7.png" }
				%img{ :src => "images/section_3_img_8.png" }
				%img{ :src => "images/section_3_img_9.png" }

		-# ==================================================

		%section.section-four
			%article
				%h1 И ЭТО ПОЧТИ БЕСПЛАТНО
				%p Mimicra не требует внедрения или изменения процесоов и программ. Подключение и первый месяц использования – бесплатны!
			
			%article
				%img{ :src => "images/section_4_price.png" }

		-# ==================================================

		%section.section-five
			%img{ :src => "images/section_5_stone.png" }
			
			%article
				%h1 Подключиться очень просто!
				%p Укажите вашу почту и наш менеджер свяжется с вами в течении дня, а на следующий день ваше заведение будет подключено!
			
			%fieldset
				%input{ :type => "text" }
				%button.button-red Отправить

		-# ==================================================

		%footer
			
			%article
				%a
					%span.fa-stack.fa-lg
						%i.fa.fa-circle.fa-stack-2x.fa-inverse
						%i.fa.fa-twitter.fa-stack-1x
				
				%a
					%span.fa-stack.fa-lg
						%i.fa.fa-circle.fa-stack-2x.fa-inverse
						%i.fa.fa-facebook.fa-stack-1x

				%a
					%span.fa-stack.fa-lg
						%i.fa.fa-circle.fa-stack-2x.fa-inverse
						%i.fa.fa-linkedin.fa-stack-1x
			
			%article
				%p Mimicra™ 2015
				%p
					Сделано в
					%a{ :href => "#" } cpdbbk.com


