// Colors
$color-white 			 : #fff;
$color-green 			 : #3DD179;
$color-blue 			 : #4EB8EC;

$color-violet 			 : #9C6FE7;
$color-violet-dark		 : #7D59B9;
$color-violet-light		 : rgba(156,111,231,0.25);
$color-violet-darker 	 : #563C81;
$color-violet-light-very : #CBB5F2;

$color-gray 			 : #AAA;
$color-gray-dirty 		 : #515151;
$color-gray-dirty-opacity: #DDD;
$color-graywhite		 : #F8F8F8;

$color-red-orange 		 : #F45151;
$color-red-orange-dark 	 : #CE3D36;


$default-text-shadow-color		: #575757;
$default-text-shadow-blur		: 3px;
$default-text-shadow-v-offset	: 1px;