@import "colors";
@import "fontsconst";

html { font-size: 62.5% }
html , body { height : 100%; width : 100% }
body { font	: normal normal 300 1.25rem/1.5 $muller_regular; font-size : 18px }

h1 , h3 { text-transform : uppercase; letter-spacing: 3px; }
h2 , h4 { color : $color-gray-dirty }

h1 { font-size : 32px; }
h2 { 
	font-family 	: $muller_regular;
	font-size 		: 24px;
	line-height 	: 30.63px;
}
h4 {
	font-family	: $muller_regular;
	font-size	: 16px;
	font-weight	: bold;
}
h5 {
	font-size	: 12px;
	color 		: $color-gray;
}

a {
	color : $color-white;
	text-decoration: none;
}

article , fieldset , header { text-align : center }

.form-elements-sceleton {
	border-radius 	: 60px;
	width 			: 240px;
	letter-spacing 	: 1.5px;
	text-transform 	: uppercase;
	background 		: none;
	font-size 		: 10pt;
	padding 		: 16px;
	border 			: 1px solid $color-violet-light	;
}

// ###################################################################
// Buttons
.mi-button-default{
	@extend .form-elements-sceleton;

	//height 			: 48px;
	color 			: $color-violet	;
	cursor 			: pointer ;
	word-wrap 		: break-word;
	
	-webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) ;
	-moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) ;
	-o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) ;
	transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000)
}
.mi-button-default:hover{ background : #9C6FE7;	color : $color-white }
button { @extend .mi-button-default }

.button-red {
	@extend .mi-button-default;
	color 		 	: $color-white;
	background-color: $color-red-orange;
	border-bottom 	: 1px solid $color-red-orange-dark;
}
.button-red:hover{ background-color: #FF6E6E }

.button-white-border {
	@extend .mi-button-default;
	border-color 		: rgba(255, 255, 255, 0.3);
	color 		 		: $color-white;
	border-color 		: rgba(255, 255, 255, 0.3);
}

// ####################
// Inputs
input {
	@extend .form-elements-sceleton;
	color: rgba(255, 255, 255, 0.61);
}