// Core
@import "compass";
@import "compass/css3/opacity";
@import "compass/css3/text-shadow";

// Helpers
@import "colors";
@import "helpers";
@import "elements";
@import "fontsconst";

// ###################################################################
// ONE SECTION
section.section-one{
	@extend .violet-section;

	height 				: auto;
	background 			: url('../images/section_1_phones.png') no-repeat right , radial-gradient(ellipse at center, rgba(255,255,255,0.2) 0%,rgba(229,229,229,0.3) 100%);
	background-position : 120% 16px;
	background-size 	: 50%;	
	
	article {
		padding 		: 80px;
		padding-bottom	: 16px;
		width			: 50%;
		min-height 		: 100%;
		height 			: auto;
		text-align 		: left;
		
		h1 { margin-top: 136px; }
		p  { margin-top: 32px; }
	}

	fieldset {
		margin-top: 48px;
		
		button { width: 49% }
	}

}
section.section-one::after {
	content 			: ' ';
	width 				: 100%;
	height 				: 64px;
	background-color	: #fff;
	bottom 				: 0;
	left 				: 0;
	display 			: list-item;
	@include opacity(0.2);
}

// ###################################################################
// TWO SECTION
section.section-two{
	@extend .title-desk-section;
	padding : 80px 0;
	img{ margin : 64px 32px }
}

// ###################################################################
// THREE SECTION
section.section-three{
	@extend .triangle-top-section;
	@extend .title-desk-section;

	background-image 	: url('../images/zone_white.png');	
	background-color 	: #F5F5F7;
	
	img { margin : 48px; margin-top: 0;}
}

// #############################################################
// FOUR SECTION
section.section-four{
	@extend .violet-section;
	@extend .title-desk-section;
	@extend .triangle-top-section;
	@extend .big-vertical-padding;

	// Создание скошенных углов сверху и снизу, и фоновый градиент
	background: url('../images/zone_gray.png') top no-repeat ,
				url('../images/inverted_zone_violet.png') bottom no-repeat ,
				radial-gradient(ellipse at center, rgba(255,255,255,0.2) 0%,rgba(229,229,229,0.3) 100%);
	background-size : 100%;

	img { margin : 32px 0px; width: 70%; }
}

section.section-five{	
	@extend .violet-section;
	@extend .big-vertical-padding;

	position 		 : relative; 
	background-color : $color-violet-darker !important;

	// Булыжник
	p 	{ margin-top: 32px }
	img { position: absolute; bottom : 64%; left : -4% }
	article , fieldset { @extend .short-artical; }
	
	fieldset {
		width 		: 70%;
		padding-top : 64px;

		input[type=text] { width : 64% }
		button 			 { width : 23%; margin-left: 8px; }
	}
}

footer {
	@extend .violet-section;

	background-color : $color-violet-darker !important;	
	text-align 		 : center;

	// социальные кнопки
	article:first-child {
		a 				 { color : $color-violet-darker }		
		span 			 { @include opacity(0.7) }
		span:last-child  { margin-left : 56px }
		span:first-child { margin-right: 56px }
	}

	// нижний копирайт
	article:last-child {
		padding: 80px 0px 128px 0px;

		a {
			@include opacity(1)
		}
	}

}