// Core
@import "compass";
@import "compass/css3/opacity";

// Helpers
@import "colors";
@import "helpers";
@import "elements";
@import "fontsconst";

// ###################################################################
// ONE SECTION
section.section-one{
	@extend .violet-section;

	height 				: auto;
	background 			: url('../images/section_1_phones.png') no-repeat right , radial-gradient(ellipse at center, rgba(255,255,255,0.2) 0%,rgba(229,229,229,0.3) 100%);
	background-position : 120% 16px;
	background-size 	: 50%;	
	
	header {
		padding 		: 80px;
		padding-bottom	: 16px;
		width			: 50%;
		min-height 		: 100%;
		height 			: auto;
		text-align 		: left;
		
		h1 { margin-top: 136px; }
		p  { margin-top: 32px; }
	}

	fieldset {
		margin-top: 48px;
		text-align: center;
		
		button 				{ width: 40% }
		button:last-child 	{ margin-left : 16px }
	}

}
section.section-one::after {
	content 			: ' ';
	width 				: 100%;
	height 				: 64px;
	background-color	: #fff;
	bottom 				: 0;
	left 				: 0;
	display 			: list-item;
	@include opacity(0.2);
}

// ###################################################################
// TWO SECTION
section.section-two{
	@extend .title-desk-section;
	padding : 80px 0;
	img{ margin : 64px 32px }
}

// ###################################################################
// THREE SECTION
section.section-three{
	@extend .triangle-top-section;
	@extend .title-desk-section;

	background-image 	: url('../images/zone_white.png');	
	background-color 	: #F5F5F7;
	
	img { margin : 48px; margin-top: 0;}
}

// #############################################################
// FOUR SECTION
section.section-four{
	@extend .violet-section;
	@extend .title-desk-section;
	@extend .triangle-top-section;
	@extend .big-vertical-padding;

	// Создание скошенных углов сверху и снизу, и фоновый градиент
	background: url('../images/zone_gray.png') top / 100% no-repeat ,
				url('../images/inverted_zone_violet.png') bottom / 100% no-repeat ,
				url('../images/section_4_bg_tic.png') 50% 72% / auto auto repeat-x ,
				radial-gradient(ellipse at center, rgba(255,255,255,0.2) 0%,rgba(229,229,229,0.3) 100%);

	text-align 		: center; 

	img { margin : 32px 0px; width: 70%; }

	article {
		width 		: 80%;
		word-wrap 	: break-word;
		display 	: inline-flex; 
		
		figure.folded-corner:before { @include border-top-right-radius( 8px ) }
		figure:last-child 			{ border-bottom: 4px solid $color-violet-darker }

		figure {
			@include border-radius( 8px );
			background 		: #F5F5F5;
			box-shadow 		: 0px 0px 16px 2px rgba(0, 0, 0, 0.1);
			color 			: $color-gray-dirty;
			width 			: 30%;
			max-width 		: 248px; 
			margin 			: 0 auto;

			figcaption {
				@include border-top-radius( 8px );
				padding		: 16px 0;
				height 		: auto;
				background 	: $color-white;
				box-shadow 	: 0px 0px 8px 2px rgba(0, 0, 0, 0.15);
				font-size 	: 2vw; 

				h2 { font-size 	: 2vw }
				hr { width 		: 24% }
			}

			hgroup {
				width			: 75%;
				border-bottom 	: 2px solid #DDD;
				margin 			: auto;
				padding 		: 8% 0;
				height 			: auto;
				min-height 		: 80px;				
			}

			hgroup:last-child {
				border-bottom: none
			}

			.absolute-procent {
				position 	: absolute;
				right 		: 4px;
				top 		: 12px;
				padding 	: 0px;
				margin 		: 0px;
				line-height : 0;
				color 		: $color-violet-darker;
				font-weight	: bold;
				font-size	: 16px;
				background-color: rgb(23, 21, 21);
			}

		}
	}
}

// #############################################################
// FIVE SECTION
section.section-five{	
	@extend .violet-section;
	@extend .big-vertical-padding;

	position 		 : relative; 
	background-color : $color-violet-darker !important;
	
	p 		{ margin-top: 32px }
	img 	{ position: absolute; bottom : 64%; left : -4% } // Булыжник
	header  { position: relative }
	
	fieldset { @extend .short-artical; }
	
	fieldset {
		width 		: 70%;
		padding-top : 64px;

		input[type=text] { width : 64% }
		button 			 { width : 23%; margin-left: 8px; }
	}
}

// #############################################################
// FOOTER
footer {
	@extend .violet-section;

	background-color : $color-violet-darker !important;	
	text-align 		 : center;

	// социальные кнопки
	article:first-child {
		a 				 { color : $color-violet-darker }		
		span 			 { @include opacity(0.7) }
		span:last-child  { margin-left : 56px }
		span:first-child { margin-right: 56px }
	}

	// нижний копирайт
	article:last-child {
		padding: 80px 0px 128px 0px;

		a {
			@include opacity(1)
		}
	}

}

// #############################################
// ABOUT SECTION
section.about {
	display: none;

	article { 
		display 	: inline-flex;
		word-wrap 	: break-word;
		word-break 	: break-all;

		aside:first-child{
			width 			: 40%;
			text-align 		: center;
			background-color: $color-violet;
			background-image: radial-gradient(ellipse at center, rgba(255,255,255,0.2) 0%,rgba(229,229,229,0.3) 100%);

			img { width : 50%; margin : 25% 0; }
		}

		aside:last-child { 
			width 		: 60%;
			padding 	: 0 3%;
			text-align 	: left;

			img { width : 136px };
		}
	}
}